.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  top: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-left: 7px;
  margin-right: 10px;
  color: #f08804;
}

.header__basketCountIcon {
  font-size: 30px;
}

